<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>Gestion des paies</title>
</head>
<body>
    <h1 class="titre-principal">Gestion des paies</h1>
    <div class="container">
    <div class="colone-un">
        <div class="profile">
            <p> <a href="dashboard.html">🖥️ Tableau de bord </a></p>
            <p> <a href="employes.html">👥 Gestion des employés </a></p>
            <p> <a href="contrats.html">📄 Gestion des contrats </a></p>
            <p> <a href="apprentis.html">💼 Gestion des apprentis </a></p>
        </div>
    </div>
    <div class="colone-deux">
        <h2>🪙 Contrats</h2>
        <div class="container-un">
            <div class="card">
                <h3>0</h3>
                <p id="nombre-employes">Employés actifs</p>
            </div>
            <div class="card">
                <h3>0</h3>
                <p id="nombre-contrats">Nombre de contrats</p>
            </div>
            <div class="card">
                <h3>0</h3>
                <p id="nombre-fiches">Fiches générées</p>
            </div>
            <div class="card">
                <h3>0</h3>
                <p id="nombre-apprentis">Apprentis</p>
            </div>
        </div>
        <div class="activit-resent">
            <h4>Activité récente</h4>
            <p id="activite-recent">Aucune activité récente</p>
        </div>
    </div>
    <script src="../scrtipt/index.js"></script>
</body>
</html>