<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>Gestion des paies</title>
</head>
<body>

<h1 class="titre-principal">Gestion des paies</h1>

<div id="login-page">
  <div class="login-box">
    <div class="login-logo">
      <h1>HMI<span>Salerie</span></h1>
      <p>Système de Gestion des Paies</p>
    </div>
    
    <div id="login-error" class="alert alert-error" style="display:none; color: red; margin-bottom: 10px;"></div>
    
    <div class="form-group">
      <label>Nom d'utilisateur (Nom de famille)</label>
      <input type="text" id="login-user" placeholder="ex: Hashimi" required />
    </div>
    <div class="form-group">
      <label>Mot de passe</label>
      <input type="password" id="login-pass" placeholder="••••••••" required />
    </div>
    <button class="btn" onclick="doLogin()">Se connecter</button>
    <a href="logout.php" style="color: #d32f2f; text-decoration: none; font-weight: bold; margin-left: 10px;">Se déconnecter</a>
    
    <p class="login-hint">Admin Hashimi/hash1234</p>
  </div>
</div>

<script src="../script/index.js"></script>
</body>
</html>